
opencv-python-headless>=4.9.0.80
diffusers>=0.31.0
transformers>=4.49.0
tokenizers>=0.20.3
accelerate>=1.1.1
optimum-quanto==0.2.6
xfuser>=0.4.1
soundfile>=0.12.1
pyloudnorm
decord                    
moviepy==1.0.3             
imageio                   
imageio-ffmpeg             
scikit-image               
scenedetect               
tqdm
easydict
ftfy
numpy>=1.23.5,<2
packaging                 
psutil                     
gradio>=5.0.0
dashscope                 
loguru               
